* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f7cd75;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.right {
    width: 490px;
    height: 500px;
    background-color: white;
    padding: 40px;
    overflow: scroll;
    overflow-x: hidden;
}

.right-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.balance {
    font-size: 20px;
    color: black;
}

.line {
    margin: 40px 0;
}

.right-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

.right-icons {
    width: 20px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 100%;
    margin: 21px 0;
}

.asteric {
    margin: 7px;
}

.desc {
    width: 300px;
    margin: 10px 0 0 20px;
}

.funds {
    font-weight: bold;
    font-size: 20px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    width: 70px;
    color: #8a9ac8;
}

.differ {
    color:#8ccf60;
}

.tags {
    color: #bbbbbb;
}

.left {
    height: 500px;
    width: 310px;
    background-color: #f2f2f2;
    padding: 40px;
    overflow: scroll;
    overflow-x: hidden;
}

.left-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards {
    width: 100px;
}


.left-numbers {
    color: #727272;;
    font-size: 16px;
    font-weight: bold;
}

.left-item {
    width: 215px;
    height: 122px;
    background: white;
    margin: 40px 0;
    padding: 8px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
}

.left-item:hover {
    border: 3px solid #9fa8d0;
}

.master {
    border: 3px solid #9fa8d0;
}

.left-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
